.containerSignIn{
    display: flex;
    -webkit-box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    box-shadow: 0px 10px 34px -15px rgba(0, 0, 0, 0.24);
    background-color: f8f9fd;
    /* width: 50%; */
    /* height: 55%; */
}


.containerSignIn .containerForm{
    padding: 1rem 2rem 1rem 2rem;
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerSignIn .containerForm h3{
    font-weight: 300;
    margin-bottom: 1.5rem !important;
    font-size: 1.75rem;
    font-family: "Lato", Arial, sans-serif;
    color: #000;
}

.containerSignIn .containerForm div{
    margin-bottom: 1rem;
}

.containerSignIn .containerForm form input{
    height: 48px;
    background: rgba(0, 0, 0, 0.05);
    color: #000;
    width: 100%;
    font-size: 16px;
    border-radius: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.containerSignIn .containerForm form div .btn-signin{
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid #f35588;
    color: #fff;
    width: 100%;
    background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
}

.containerSignIn .containerForm form label{
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 0.5rem;
    line-height: 1.8;
}

.containerSignIn .containerForm form input:focus{
    outline: none;
}

.containerSignIn .containerForm p{
    color: gray;
    text-align: right;
    cursor: pointer;
}

.containerSignIn .containerWelcome{
    padding: 0rem 2rem 0rem 2rem;
    background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
}

.containerSignIn .containerWelcome div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 2rem 0 2rem;
}

.containerSignIn .containerWelcome h2{
    font-weight: 900;
    font-size: 2rem;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.containerSignIn .containerWelcome p{
    color: #fff;
    margin-bottom: 1rem;
}

.containerSignIn .containerWelcome button{
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
    cursor: pointer;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.containerSignIn .containerWelcome button:hover{
    background-color: #fff;
    color: #000;
}