:root {
  --ancho-container: calc(100% - 250px);
  --alto-container-busqueda: 100px;
  --alto-container-horas: calc(100% - var(--alto-container-busqueda));
  --color-titulo: #f35588;
}
.container {
  display: flex;
  margin-left: 250px;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
  gap: 10px;
  padding: 30px 50px;
  width: var(--ancho-container);
  background-color: #fff;
  z-index: 0;
}
.containerBusqueda {
  display: flex;
  align-items: center;
  gap: 50px;
  background-color: #fff;
  width: 100%;
  height: var(--alto-container-busqueda);
}
.containerBusqueda .busqueda {
  height: 48px;
  background: #fff;
  color: #000;
  width: 500px;
  font-size: 16px;
  border-radius: 50px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-box-shadow: 0 0 14px 1px #a3a3a3;
  -moz-box-shadow: 0 0 14px 1px #a3a3a3;
  box-shadow: 0 0 14px 1px #a3a3a3;
}
.containerBusqueda span {
  font-size: 2.5rem;
  cursor: pointer;
}
.container button {
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #f35588;
  color: #fff;
  background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
  height: fit-content;
}
.containerHoras {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  width: 100%;
  padding: 20px 30px;
  height: var(--alto-container-horas);
  border-radius: 50px;
  -webkit-box-shadow: 0 0 14px 1px #a3a3a3;
  -moz-box-shadow: 0 0 14px 1px #a3a3a3;
  box-shadow: 0 0 14px 1px #a3a3a3;
}
.containerHoras table {
  font-size: 1.5rem;
}
.containerHoras table th, td {
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
  padding: 15px 0 0;
  text-align: center;
  vertical-align: middle;
  width: fit-content;
}
.containerHoras .unavailable {
    color: rgba(128, 128, 128, 0.15);
}
.container table .agregar {
  border-bottom: none;
}
.container h1 {
  font-size: 2rem;
  color: var(--color-titulo);
}
