/* @tailwind base;
@tailwind components;
@tailwind utilities; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", Arial, sans-serif;

}

html,
body,
#root {
  display: inline-block;
  width: 100vw;
  min-height: 100vh;
  height: auto;
}
.sombreado {
  border-radius: 50px;
  -webkit-box-shadow: 0 0 14px 1px #a3a3a3;
  -moz-box-shadow: 0 0 14px 1px #a3a3a3;
  box-shadow: 0 0 14px 1px #a3a3a3;
}
/* Tabla Integra Servicios */
.integra-serv-tabla {
  font-size: 1.5rem;
}
.integra-serv-tabla,
.integra-serv-tabla td {
  border-bottom: 2px solid rgba(128, 128, 128, 0.15);
  padding: 15px 35px 0;
  text-align: center;
  vertical-align: middle;
  width: fit-content;
}
.integra-serv-tabla .unavailable {
  color: rgba(128, 128, 128, 0.15);
}
.integra-serv-tabla .celda-btn {
  border-bottom: none;
}
/* Botones Integra Servicios */
.integra-serv-primary-btn {
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 50px;
  border: 1px solid #f35588;
  color: #fff;
  background: linear-gradient(135deg, #f75959 0%, #f35587 100%);
  height: fit-content;
}
/* card-inf Integra Servicios*/
.card-info {
  display: flex;
  /* justify-content: space-between; */
  /* width: fit-content;
  height: fit-content; */
  background-color: #fff;
  align-items: center;
  /* position: relative; */
  gap: 10px;
  padding: 20px 25px;
  width: 300px;
  height: 190px;
}
.card-info p {
  text-align: center;
  color: #808080;
}

.card-info div{
  width: 100%;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  padding: 20px 0;
  justify-content: center;
}
.card-info p h1 {
  color: var(--color-titulo);
  font-weight: 900;
}
.card-info h2 {
  font-size: 1.4rem;
}
.card-info span {
  /* margin: auto 0 auto 30px; */
  /* position: absolute; */
  right: 30px;
  top: 30%;
  color: #808080;
  font-size: 3.5rem;
}
